version: 2
updates:
  - package-ecosystem: "bun"
    directory: "/app"
    schedule:
      interval: "daily"
    commit-message:
      prefix: "chore(deps)"
    labels:
      - "dependencies"
      - "bun"
